* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* HERO BACKGROUND */
.hero {
    height: 90vh;
    background: url("https://source.unsplash.com/1600x900/?food") no-repeat center center/cover;
    position: relative;
}

/* DARK OVERLAY */
.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    color: white;
    text-align: center;
    padding-top: 80px;
}

/* TOP SMALL TEXT */
.top-line {
    margin-bottom: 10px;
    font-size: 16px;
}

/* LOGO */
.logo {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* NAVIGATION */
.nav {
    margin-bottom: 30px;
}

.nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: bold;
}

.nav a:hover {
    color: #e23744;
}

/* TAGLINE */
.tagline {
    font-size: 22px;
    margin-bottom: 25px;
}

/* SEARCH */
.search-box {
    margin-top: 10px;
}

.search-box input {
    padding: 12px;
    width: 280px;
    border: none;
}

.search-box button {
    padding: 12px 18px;
    border: none;
    background: #e23744;
    color: white;
    cursor: pointer;
}

.search-box button:hover {
    background: #c5303c;
}

/* FOOTER */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 25px;
}

footer select {
    padding: 6px;
    margin-bottom: 10px;
}