body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

.logo {
    color: red;
    font-size: 40px;
    margin-top: 20px;
}

.tagline {
    font-size: 18px;
}

.search input {
    padding: 8px;
    width: 200px;
}

.search button {
    padding: 8px;
    background-color: red;
    color: white;
    border: none;
}

.box {
    background-color: white;
    width: 250px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid gray;
}

.box img {
    width: 100%;
}

footer {
    margin-top: 30px;
    background-color: black;
    color: white;
    padding: 10px;
}