* {
    padding: 0;
    margin: 0;
    background-color: yellow;
    color: black;
    text-align: center;

}

/* 
p {
    background-color: darkgray;
    color: darkcyan;
}

.name {
    text-decoration: underline;
    text-transform: capitalize;
    color: blueviolet;
}

#no {
    text-decoration: underline;
    text-transform: capitalize;
}

h1 {

    background-color: black;
    color: red;
} */