body {
    background-color: yellow;
    color: blueviolet;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    box-shadow: inset;
}

h1 {
    text-align: left;
    background-color: red;
    color: blue;
    padding: 0%;
    margin: 0%;
}

nav {
    text-align: right;
    background-color: red;
    color: blue;
    padding: 30px;
    margin: 0%;
}

nav a {
    text-align: left;

}